/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main styling */
html, body {
    font-family: sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

#navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;

}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: inline-block;
    padding: 25px;
}

#navbar ul il a:hover, #navbar ul li a.current {
    background-color: #444;
    color: #eca35b;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary {
  color: #eca35b;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #eca35b;
    color: #333;
}

.btn-light {
    background-color: #f4f4f4;
    color: #333;
}

.btn-dark {
    background-color: #333;
    color: #fff;
}

.bg-dark {
    background-color: #333;
    color: #fff;
}

.bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.bg-primary {
    background-color: #eca35b;
    color: #333;
}

.clr {
    clear:both
}

/* Showcase section */
#showcase {
    background-image: url(../images/pexels-pham-ngoc-anh-170983008-28011238.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;   
}

#showcase .showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 170px;
}

#showcase h1 {
    font-size: 60px;
}

#showcase p {
    padding-bottom: 20px;
    font-size: 20px;
}
 
#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(../images/pexels-jodaarba-2204880.jpg);
    
}

.info-img {
    background-size: contain;
}


#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
}

#home-info .info-content p {
 padding-bottom: 20px;
 font-size: 18px;
}

/* Features section */

.box {
    width: 33.3%;
    float: left;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 10px;
}

#main-footer {
    text-align: center;
    background-color: #444;
    color: #fff;
    padding: 20px;
}

